@import "null.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
.layout__one {
	padding: 10px 5px;
	background-color: #58BEBF;
	display: block;
	max-width: 1345px;
	margin: 0px auto;
}
.block__one {
	max-width: 404px;
	padding: 15px;
	margin: 0px 15px 0px 0px;
	display: inline-block;
	background-color: #fff;
	vertical-align: top;
}
.one__title {
	font-weight: 700;
	font-size: 42px;
	line-height: 62px;
	letter-spacing: 0.8px;
}
.one__text {
	line-height: 27px;
	letter-spacing: 1.15px;
	margin: 20px 0px 0px 0px;
}
.one__button {
	margin: 40px 0px 0px 0px;
	background: #F78434;
	border-radius: 29px;
	min-width: 172px;
	font-weight: 700;
	line-height: 24px;
	color: #FFFFFF;
	padding: 18px 0px 16px 0px;
	text-align:center;
	display: inline-block;
}
.block__two {
	text-align: center;
	max-width: 540px;
	margin: 0px 15px 0px 0px;
	padding: 40px 88px 55px 88px;
	display: inline-block;
	background-color: #fff;
	vertical-align: top;
}
.two__img {
	margin: 0px 0px 15px 0px;
}
.two__title {
	font-weight: 700;
	font-size: 42px;
	line-height: 63px;
	letter-spacing: 0.8px;
}
.two__text {
	max-width: 364px;
	margin: 0px auto 43px;
}
.two__link {
	font-weight: 700;
	line-height: 24px;
	color: #F78434;
	display: inline-block;
}
.block__three {
	max-width: 350px;
	border-radius: 5px;
	display: inline-block;
	background-color: #fff;
}
.three__img {
	max-width: 100%;
}
.three__content{
	padding: 31px 29px 31px 29px;
}
.three__text {
margin: 0px 0px 23px 0px;
}
.three__name {
	font-weight: 700;
	font-size: 18px;
	letter-spacing: 0.6px;
}
.three__city {
	color: #58BEBF;
}
/* !__________________________DIFFERENT LAYOUT________________________________ */
@font-face {
	font-family: "Helvetica Neue";
	src: url("../fonts/HelveticaNeue.woff2") format("woff2"), url("../fonts/HelveticaNeue.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
.layout__two {
	font-family: "Helvetica Neue";
	font-weight: 400;
	font-size: 13px;
	line-height: 18px;
	letter-spacing: -0.1625px;
	color: rgba(255, 255, 255, 0.5);
	text-align: center;
	background-color: #1A1A1A;
	padding: 50px 0px;
}
.block__four {
	max-width: 255px;
	padding: 24px 24px 60px 24px;
	border-radius: 6px;
	background-color: #252525;
	display: inline-block;
	margin-right: 50px;
	vertical-align: top;
		text-align: left;
}
.four__title {
	margin: 0px 0px 10px 0px;
	font-size: 22px;
	line-height: 26px;
	letter-spacing: -0.275px;
	text-transform: capitalize;
	color: #FFFFFF;
}
.four__img {
	display: block;
	margin: 0px 0px 24px 0px;
}
.block__five {
	background: #252525;
	border-radius: 6px;
	display: inline-block;
	max-width: 350px;
	vertical-align: top;
	text-align: left;
}
.five__img {
	max-width: 100%;
}
.five__content{
	padding: 29px 30px 0px 30px;
}
.five__title {
	font-size: 32px;
	line-height: 30px;
	color: #D9D9D9;
}
.five__info {
	font-size: 12px;
	line-height: 16px;
	letter-spacing: -0.15px;
	color: #A4A8B2;
	margin: 0px 0px 20px 0px;
	
}
.five__panel {
	padding: 24px 24px 24px 30px;
	font-weight: 900;
}
.five__shell{
	vertical-align: middle;
	margin: 0px 10px 0px 0px;
	display: inline-block;
}
.five__amount {
	font-size: 12px;
	letter-spacing: 1.5px;
	margin: 0px 42px 0px 0px;
}
.five__button {
	min-width: 100px;
	border-radius: 30px;
	border: 2px solid #303030;
	font-size: 10px;
	line-height: 36px;
	text-align: center;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	display: inline-block;
	color: rgba(255, 255, 255, 0.5);
}